@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 20px 50px;
}
.logo a,
.menu {
  display: flex;
  gap: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}
